/* =========================
          Mobile Menu
==========================*/
.navbar-header {
    position: relative;
}


#mobile-nav-open-btn {
    font-size: 30px;
    color: #f4c613;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 6px;

    /* hide mobile nav open btn */
    display: none;

}

#mobile-nav {
    /* by default, mobile nav will be hidden with height 0% */
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .9);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn {
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    color: #212226;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -3px;
    right: 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav-content {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 100;
}

#mobile-nav ul li {
    margin-bottom: 20px;
}

#mobile-nav a {
    font-family: "Jua", sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    -webkit-transition: .3s;
    transition: .3s;
}


#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #f4c613;
    background: none;
}

/* Mobile nav Scroll spy active state */
.white-nav-top #mobile-nav ul.navbar-nav > li.active > a {
    color: #f4c613;
    font-weight: 500;
}



/* Extra Small Devices ( Landscape Phone  & Portrait Tablets ) */
@media (max-width: 767px) {


    /* Navigation */

    .navbar {
        padding: 20px 0;
    }

    .site-nav-wrapper,
    .white-nav-top {
        padding: 0;
    }


    /* Show mobile nav open btn */
    #mobile-nav-open-btn {
        display: block;
    }

    /* Home */
    #home {
        height: 65%;
    }

    #home-heading h1 {
        font-size: 28px;
        margin-top: 10%;
    }

    /* Generic */
    .btn-general {
        padding: 5px 25px 6px 25px;
        font-size: 10px;
    }

    /* Large Content Box */
    .content-box-lg {
        padding: 0 0 30px 0;
    }

    .horizontal-heading h5 {
        position: static;
        margin-bottom: 10px;
    }

    .horizontal-heading h2 {
        font-size: 24px;
        line-height: normal;
        margin: 0;
    }

    /* Nav Tab*/

    .nav-tabs {
        margin-top: 30px;
    }


    .nav-tabs li a {
        padding: 8px 90px;
        font-size: 14px
    }

    /* Nav Icons */

    .inner-icon i {
        font-size: 40px;
        margin: 8px 24px 8px 24px;
    }

    .inner-icon p {
        margin-bottom: 10px;
        font-size: 11px;
        font-weight: 400;
    }


    /* Table */
    .table th {
        font-size: 13px;
    }

    .table td {
        font-size: 13px;
    }


    /* Plus */
    .plus-content h1 {
        font-size: 20px;
    }

    .plus-content p {
        font-size: 14px;
    }

    /* Map */
    #map {
        height: 300px;
    }

}

@media (max-width: 414px) {

    /* Home */
    #home-heading h1 {
        font-size: 28px;
        margin-left: 10%;
        margin-top: 45%;
    }

    /* Photo */
    #about-inner {
        margin: 50px 0;
        padding: 0;
    }

    .branch-photo {
        width: 100%;
        margin: auto;
    }

    /* Nav Tab*/
    .nav-tabs {
        margin-top: 0;
    }

    .nav-tabs li a {
        padding: 8px 22px;
        font-size: 14px
    }

    .inner-icon i {
        font-size: 30px;
        margin: 8px 14px 8px 14px;
    }

    /* Table */
    .table th {
        font-size: 12px;
    }

    .table td {
        font-size: 11px;
    }


}


@media (max-width: 375px) {

    /* Home */
    #home {
        height: 50%;
    }

    #home-heading h1 {
        margin-left: 5%;
        margin-top: 48%;
    }

}

@media (max-width: 320px) {

    /* Home */
    #home {
        height: 50%;
    }

    #home-heading h1 {
        margin-left: 5%;
        margin-top: 36%;
    }

    #home-heading h1 {
        font-size: 20px;
    }

    .nav-tabs li a {
        padding: 8px 19px;
        font-size: 12px
    }

    .inner-icon i {
        font-size: 26px;
        margin: 8px 10px 8px 10px;
    }

    /* Table */
    .table th {
        font-size: 9px;
    }

    .table td {
        font-size: 9px;
    }

}