/* =========================
        Default Theme
----------------------------
Fonts: Raleway & Open Sans
Noto Serif KR & Jua & 
Nanum Gothic Coding
----------------------------
Colors :
    Moon Yellow :    #f4c613
    Grey:            #212226
    White Smoke:     #f4f4f4
    White:           #fff
    Black:           #000
==========================*/

/* =========================
       Html, Body
==========================*/

html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: "Jua", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;

}


/* =========================
        Preloader
==========================*/

#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../img/preloader/spin_preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    top: 50%;

    margin-top: -35px;
    margin-left: -35px;
}

/* =========================
        Home
==========================*/

#home {
    background: none;
    height: 92%;
}

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("../img/reserv/reserv_1.jpg") no-repeat;
    background-size: cover;
}

#home-overlay {
    /* w3school overlay reference! */
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.home-content-total {
    padding-top: 15%;
}


#home-heading h1 {
    color: #fff;
    font-family: 'Raleway', sans-serif;

    font-size: 52px;
    font-weight: 300;
    margin-top: 100px;
    margin-left: 85px;
    font-weight: 400;
    display: inline-block;

}

#home-heading h1 span {
    color: #f4c613;
    font-weight: 500;
}

#home-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}


.btn-loc {
    width: 320px;
    height: 45px;
    margin-bottom: 16px;
    font-size: 14px;
    border-radius: 4px;
}

.btn-loc-menu {
    width: 300px;
    text-align: center;
}


/* =========================
          Buttons
==========================*/
.btn-general {
    font-family: sans-serif;
    border-radius: 28px;
    font-size: 14px;
    margin: 5px 6px;
    padding: 14px 46px 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-home-member {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
}


.btn-general-reserv {
    width: 320px;
    font-family: sans-serif;
    border-radius: 2px;
    font-size: 18px;
    padding: 11px 88px 9px 88px;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-color: #f4c613;
}


.btn-loc-reserv {
    color: #fff;
    letter-spacing: 3px;
    border: 2px solid #f4c613;
    display: inline-block;
    font-family: 'Jua', sans-serif;
}

.btn-loc-reserv:hover {
    color: #fff;
    border: 2px solid #f4c613;
    display: inline-block;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.left-page-content {
    margin-top: 10%;
}


.btn-plus-kakao {
    color: #fff;
    font-weight: 800;
    border: 2px solid #fff;
    display: inline-block;

}

.btn-plus-facebook {
    color: #fff;
    font-weight: 800;
    border: 2px solid #fff;
    display: inline-block;

}


.btn-home-member:hover,
.btn-home-member:focus {
    color: #fff;
    background-color: #f4c613;
    border: 1px solid #f4c613;
}

.btn-plus-kakao:hover,
.btn-plus-kakao:focus {
    color: #f4c613;
    font-weight: 800;
    background-color: #fff;
    border: 2px solid #fff;
}

.btn-plus-facebook:hover,
.btn-plus-facebook:focus {
    color: #3b5668;
    font-weight: 800;
    background-color: #fff;
    border: 2px solid #fff;
}

/* =========================
          Buttons
==========================*/
#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #f4c613;
}

/* =========================
          Content Boxes
==========================*/
.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

/* =========================
          Vertical Headings
==========================*/
.horizontal-heading h5 {
    color: #f4c613;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 3px;
    display: inline-block;
    position: relative;
    margin: 0;



}

.horizontal-heading h2 {
    margin: 10px 0 0 0;
    font-size: 40px;
    line-height: 45px;
}


/* =========================
          About 01
==========================*/
.contentbox-about {
    margin: 70px 0;

}

.heading-top hr {
    width: 560px;
    height: 3px;
    background-color: #f4c613;
    margin: 6px auto;
    border: none;


}


#about-02 {
    background-color: #fff;
}

.about-item {
    width: 440px;
    height: 300px;
    background-color: #fff;
    margin-left: 85px;
    padding: 30px 10px 30px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}


.about-item h2 {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin-left: 54px;
    margin-bottom: 26px;
}


.about-item p {
    margin-top: 20px;
}



/* Smooth transition */
.about-item,
.about-item i,
.about-item hr {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.about-content {
    margin: auto;
}


/* =========================
          Nav Tabs
==========================*/

.nav-tabs {
    text-align: center;
    border-color: #f4c613;
}


.nav-tabs > li {

    float: none;
    display: inline-block;
    zoom: 1;
}

.nav-tabs li a {
    color: #212226;
    padding: 10px 100px;
    font-size: 16px
}


.nav-tabs .active a,
.nav-tabs .active a:hover {
    color: #f4c613 !important;
    border-left-color: #f4c613 !important;
    border-top-color: #f4c613 !important;
    border-right-color: #f4c613 !important;
}

.nav-tabs li a:hover {
    background-color: #fff;
    border-left-color: #fff;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #f4c613;
}

/* =========================
         Photo
==========================*/

.branch-photo {
    height: 30%;
    width: 40%;
    margin: auto;
}


/* =========================
          Slider Buttons
==========================*/

.owl-theme .owl-nav[class*=owl-] {
    color: #212226;
    background: none;
    font-size: 40px;
    margin: 0;
}

.owl-theme .owl-nav[class*=owl-] :hover {
    background: none;
    color: #212226;
}


/* =========================
          Navigation
==========================*/

.navbar {
    padding: 35px 0 20px 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.site-nav-wrapper {
    padding: 0 85px;
}

.navbar-brand {
    padding: 13px 15px;
}

ul.navbar-nav > li > a {
    font-family: "Jua", sans-serif;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus {
    background: none;
    color: #f4c613;
}

/* White Navigation */
.white-nav-top {
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.white-nav-top ul.navbar-nav > li > a {
    color: #212226;
}

ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus {
    color: #f4c613;
    font-weight: 500;
}

/* Scroll spy active state */
.white-nav-top ul.navbar-nav > li.active > a {
    color: #f4c613;
}


/* =========================
          plus
==========================*/

.content-box-sm {
    width: 100%;
    height: 280px;
}

.plus-content {
    padding: 60px 0;
}

.plus-content h1 {
    margin-bottom: 4px;
    color: #fff;

}

.plus-content p {
    font-family: "Jua", sans-serif;
    color: #000;
    font-size: 19px;
}

.plus-friend-01 {
    background-color: #f4c613;
}

.plus-friend-02 {
    background-color: #3b5668;
}

/* =========================
          Google Map
==========================*/

#map {
    margin: auto;
    margin-top: 50px;
    height: 500px;
    width: 70%;
}

/* =========================
          Section
==========================*/

.section-content {
    margin-top: 35px;
    height: 400px;
}

.inner-content span {
    margin: 0 30px;
    font-weight: bold;
}

.inner-content p {

    display: inline-block;
    margin: 0 30px;
    text-align: center;
}

.inner-icon {

    display: inline-block;

}

.inner-icon i {
    font-size: 60px;
    margin: 20px 40px 7px 40px;
    color: #f4c613;
}

.inner-icon p {
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 800;

}



/* =========================
         Reservation
==========================*/

.reserv-page {
    margin: 0 100px;
}

.form-control {
    width: 300px;
    margin: 0;
}


/* =========================
         Google
==========================*/



#map {
   height: 300px;
    width: 100%;
}

